# Dependencies
node_modules
.pnp
.pnp.js

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Coverage
coverage
*.lcov

# Turbo
.turbo

# Build Outputs
out
build
dist
*.tgz
.output
.vercel
.netlify
.wrangler

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Misc
.idea
*.pem

# Logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# Caches
.eslintcache
.cache
*.tsbuildinfo

# Svelte
.svelte-kit
.fast-check
vite.config.js.timestamp-*
vite.config.ts.timestamp-*