# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock
bun.lockb

# Build outputs
dist
build
drizzle

# Dependencies
node_modules

# Vendored repositories
repos

# Misc
.agents
.turbo

# Svelte
static
.svelte-kit
.fast-check
vite.config.js.timestamp-*
vite.config.ts.timestamp-*